@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  background-color: white;
  font-family: 'PT Sans', sans-serif;
}

.nav-wrapper {
  height: 6.25em;
  display: flex;
  flex-flow: row nowrap;
}

#logo {
  background-color: #F5005B;
  width: 6.25em;
}

nav {
    text-align: center;
    background-color: #7DDFE8; 
    width: 100vw;
    height: 100%; 
}

.menu-items {
  color: #FFFFFF;
  list-style-type: none;
  display: flex;
  flex-flow: column nowrap;
  /*justify-content: space-bewteen;*/
  align-content: space-around;
  width: 100%;
  height: 100%;
}

.menu {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

li {
  height: 100%;
}

li a {
  color: white;
 }

a:link {
  text-decoration: none;
}

#get-involved {
  padding: 10px 30px;
}

.get-involved-item {
  /*width: 30vw;*/
  margin: 0 5px;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  padding: .75em 0 .75em 1em;
}

h2 {
  color: #FFFFFF;
  background-color: #0B1942;
  padding: 10px 0 10px 10px;
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 400;
  padding: .5em 0 .0 1em;
}

#points {
  list-style-type: circle;
  margin-left: 20px;
}

.p-home {
  padding: 20px 0;
}

#up-next {
  background-color: #0B1942;
  padding: 0 0 1vw 0
}

.card {
  padding: 4vw;
  margin: 4vw;
  background-color: #E2E2E2;
}

#card-1 {
  font-size: 120%;
  display: flex;
  flex-flow: row nowrap;
}

#card-2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

h4 {
  padding: 0 0 1.1em 0;
}

#points li {
  /*font-size: 120%;*/
  line-height: 160%;
}

.film {
  /*padding: 10px;*/
  /*padding: 5vw;*/
  width: 40vw;
  margin: 0vw;
}

#film-title-up-next {
  font-size: 180%;
  color: #00B7D3;
  padding: 10px 0;
}

#film-title-up-next a {
  /*font-size: 180%;*/
  color: #00B7D3;
}

/*.film img {
  height: 70%;
  width: auto;
}*/

.film img {
  width: 40vw;
}

/*.film {
  height: 40vw;
}*/

hr {
  margin: 2em 0;
  border: 1px solid black;
}

.home {
  background-color: #00A5BF;
}

.calendar {
  background-color: #00B7D3;
}

.join {
  background-color: #00D5E7;
}

#join {
  padding: 10px;
}

#profile-pic {
  height: 150px;
  border-radius: 90%;
}

input[type=text], 
input[type=email], 
input[type=password],
input[type=textarea] {
  border: 1px solid black;
}

#copy {
  /*height: 6vh;*/
  height: 4.166em;
  width: 100vw;
  color: #ffffff;
  /*align-content: flex-end;*/
  background-color: #7DDFE8;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#copyright{
  text-align: center;
}

/************ Calendar /************/

.calendar-wrapper {
  background-color: #0B1942;
  padding: 10px 0;
}

#h2-calendar {
  font-size: 30px;
}

#calendar {
  background-color: #FFFFFF;
}

#days {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}

.day {
  position: relative;
  width: 14.285%;
  padding-top: 14.285%;
  margin: px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

/*.day {
  height: 70px;
  width: 14.285%;
  margin: px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}*/

.day-red {
  background-color: #F5005B;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFFFFF;
  background-color: #0B1942;
  width: 45%;
  height: 50%;
  padding: 8%;
  font-size: 75%;
  text-align: center;
}

/*.number {
  color: #FFFFFF;
  background-color: #0B1942;
  width: 45%;
  height: 50%;
  padding: 8%;
  font-size: 65%;
  text-align: center;
}*/

/************ Join Page/************/

#genre-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.nav {
  color: #ffffff;
  height: 50px;
}

.nav a {
  color: #FFFFFF;
}

#card-1-pic-wrapper {
  width: 40vw;
}

#card-1-pic {
  width: 100%;
  height: auto;
}

#card-1-text {
  width: 40vw;
  padding: 0 0 0 5%;
}

/************************************/
/***            Tablet            ***/
/************************************/
@media screen and (min-width: 545px) {

  .menu-items {
    display: flex;
    flex-flow: row nowrap;
    /*justify-content: flex-start;*/
    /*align-content: center;*/
  }

  .menu-items li {
    width: 6.26em;
  }

  .film {
    /*padding: 10px;*/
    /*padding: 5vw;*/
    width: 20vw;
    margin: 0vw;
  }

  .film img {
    width: 20vw;
  }

  #get-involved-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-content: stretch;
  }

  .get-involved-item {
    width: 30vw;
  }

  /*** Join Page ***/
  #profile {
    display: flex;
    flex-flow: row nowrap;
  }
  
  #genre-wrapper {
    flex-flow: row wrap;
  }

  .genre {
    width: 45vw;
  }

  #footer {
    display: flex;
    flex-flow: row nowrap
  }

  #copy {
    height: 6.25em;
    text-align: right;
  }

  #copyright {
    text-align: right;
    margin-right: 2em;
  }

}

/************************************/
/**            Desktop            ***/
/************************************/
@media screen and (min-width: 769px) {

  #card-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  #card-1, #card-2 {
    width: 40vw;
  }

  .film {
    width: 40vw;
  }

  #contact-wrapper {
    display: flex;
    flex-flow: row nowrap;
  }

  .contact {
    width: 30vw;
  }
 
  /*** Join Page ***/
  .genre {
      width: 32vw;
    }

}